<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>@title</title>
		<base href="@base_url"> 

		<link rel="stylesheet" href="reveal/reset.css">
		<link rel="stylesheet" href="reveal/reveal.css">
		<link rel="stylesheet" href="reveal/theme/white.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal/plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
                @contents
			</div>
		</div>

		<script src="reveal/reveal.js"></script>
		<script src="reveal/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: false,
				center: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealHighlight ]
			});
		</script>
	</body>
</html>
