body {
  margin: 0;
  font-family: 'ＭＳ Ｐ明朝';
	background-image: url(./images/4-100.jpg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
